.poster {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  // background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  margin-top: 24px;

  .content {
    width: 650px;
    height: 1000px;
    // padding: 32px;
    box-sizing: border-box;
  }
  .operation {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 650px;
    height: 90px;
  }
  .save {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 70px;
    .image {
      width: 90px;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ff416c;
      border-radius: 50%;

      image {
        width: 50px;
        height: 50px;
      }
    }
    text {
      color: #333;
      font-size: 26px;
      margin-top: 8px;
    }
  }
}
